.vs/
.vscode/
AAEmu.Commons/obj/
AAEmu.Game/obj/
AAEmu.Stream/obj/
/AAEmu.Commons/Cryptography
/AAEmu.Commons/Compression
/AAEmu.Game/Core/Packets/C2G/CSRSAEncryptAESkeyXORkeyPacket.cs

.idea/
AAEmu.Commons/bin/
AAEmu.Game/bin/
AAEmu.Login/bin/
AAEmu.Login/obj/
AAEmu.Game/Config.json
AAEmu.Login/Config.json
publish/
*.old
